# ----------------------------------------
# MAJOR PARAMETERS
# ----------------------------------------
# OUTPUT PARAMETERS
output_directory = 'output'	# Local position of a new directory in which output will be written within
system_descriptor = 'test_system'	# string to be used in naming all output files. DO NOT END THIS STRING WITH A PERIOD. NO SPACES EITHER...
distance_functions_file = 'distance_functions.py'
pca_clustering_functions_file = 'pca_svd_clustering_functions.py'

# TRAJECTORY ANALYSIS PARAMETERS
dist_calc_boolean = False	# set to False if distance analysis of trajectories has already been performed, with data output to a single file with formatting understood natively by numpy.loadtxt
# if dist_calc_boolean == True,
pdb = 'system.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '../../Trajectories/Production.%d.dcd'	# Local or Global position of the directory where trajectories are located
start = 1		# the integer of the trajectory that will be first to be analyzed
end = 100		# the integer of the trajectory that will be last to be analyzed
atom_selections = 'resid 52 55:56 59 62:63 66:87 and ((resname ALA VAL and name CB) or (resname ASN ASP LEU and name CA CG) or (resname GLN GLU and name CA CD) or (resname THR and name CA CG2) or (resname ARG TYR and name CA CZ) or (resname MET and name CA CE) or (resname HIE and name CA NE2))'

# if dist_calc_boolean == False,
user_defined_data_file = 'past_test/dist_col_var.dat' # will not be used if dist_calc_boolean == False; if dist_calc_boolean == True, this parameter corresponds to the local or global position of the full dataset to be analyzed.
nColVars = 703

svd_boolean = True
corr_calc_boolean = False
# if svd_boolean == False and corr_calc_boolean == False,
user_defined_mean_vector_file = 'past_test/dist_col_var.mean_vector.dat'
user_defined_variance_vector_file = 'past_test/dist_col_var.variance_vector.dat'
user_defined_covariance_matrix_file = 'past_test/dist_col_var.covariance_matrix.dat'
user_defined_correlation_matrix_file = 'past_test/dist_col_var.correlation_matrix.dat'

# either way,
step_nFrames = 1
ignore_n_nearest_neighbors = 3
nCluster_list = [2,3,4,5,10]

# ----------------------------------------
# OTHER PARAMETERS
# ----------------------------------------
equilib_time = 200	# units of ns
delta_t = 0.002		# units of ns frame^-1
plotting_boolean = True
nProjections = 10
figure_format = 'png'
#figure_format = 'pdf'
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

